/* Global */

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    /* font-weight: bold; */
}






/* Title */

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.title-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Forms */

/* .form-container{
    padding: 50px;
    margin: 60px;
    background-color: lavender;
} */

/* Client & Order */

.top-2{
    display: flex;
    justify-content: center;
}


.client-form{
    width: 600px;
    background-color: lavender;
    padding: 30px;
    margin: 20px;
}

.order-form{
    width: 600px;
    background-color: lavender;
    padding: 30px;
    margin: 20px;
}

/* Frame Build */

.bottom {
    display: flex;
    justify-content: center;
}

.frame-form{
    width: 1240px;
    background-color: lavender;
    padding: 30px;
    margin: 30px;
}