/* Global */

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    /* font-weight: bold; */
}

.breadcrumb{
    padding: 20px;
    margin: 50px;
    background-color: lavender;
}

.form-container{
    padding: 50px;
    margin: 40px;
    background-color: lavender;
}

.all-forms{
    /* margin-top: 5px;  */
}

.left-menu{
    padding: 50px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: lavender;
    height: 100%;
}

/* Client Info */



