body {
    background-color: #9cc0e7;
    height: 960px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    /* font-weight: bold; */
}

.navbar {
    padding: 15px;
}

.br { 
    display: block; 
    margin-bottom: 0.5em; 
} 
  
.brmedium { 
    display: block; 
    margin-bottom: 1em; 
} 
  
.brlarge { 
    display: block; 
    margin-bottom: 2em; 
} 

/* Title */

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.progress-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress{
    width: 500px;
}

.title-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#date-today{
    font-size: 24px;
    font-weight: bold;
}

/* Wrapper */

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Order Details Form */

.order-details-form{
    width: 605px;
    height: auto;
    /* background-color: lavender; */
    padding: 30px;
    margin: 10px;
}

/* Trying to get the tax field to go to the right of the rush part */
.custom-field{
    width: 48%;
}

.custom-wrapper{
    margin-bottom: 30px;
}

#order-tax-field{
    float: left;
}

#order-discount-field{
    float: right;
}

.buttons{
    display: flex;
    justify-content: center;
}

#submit-order-details-button{
    width: 200px;

}
