/* Global */

body {
    background-color: #9cc0e7;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 14px;
    /* font-weight: bold; */
}

.navbar {
    padding: 15px;
}

.br { 
    display: block; 
    margin-bottom: 0.5em; 
} 
  
.brmedium { 
    display: block; 
    margin-bottom: 1em; 
} 
  
.brlarge { 
    display: block; 
    margin-bottom: 2em; 
} 

/* ========================================= */

/* Title */

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.progress-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress{
    width: 500px; 
}

.title-container > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========================================= */

/* Frame Build Containers*/

.wrapper {
    display: flex;
    justify-content: center;
}

.build-frame-header{
    display: flex;
    justify-content: center;
    text-align: center;
}

.build-frame-container{
    width: 1240px;
    /* background-color: lavender; */
    padding: 30px;
    margin: 30px;
}

.size-and-manufacturing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fitting-and-notes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.upload {
    display: flex;
    justify-content: center;
    /* padding: 10px; */
}

/* ========================================= */

/* Sizing */

.sizing {
    width: 500px;
    height: 450px;
    /* background-color: lavender; */
    padding: 30px;
    margin: 20px;
    /* border: solid red; */
}

/* Manufacturing */

.manufacturing {
    width: 500px;
    height: 450px;
    /* background-color: lavender; */
    padding: 30px;
    margin: 20px;
    /* border: solid red; */
}

.finish-options{
    display: flex;
    justify-content: space-between;
}

/* Fitting */

.fitting {
    width: 500px;
    height: 900px;
    /* background-color: lavender; */
    padding: 30px;
    margin: 20px;
    /* border: solid red; */
}

.notes-and-upload {
    width: 500px;
    height: 900px;
    /* background-color: lavender; */
    padding: 30px;
    margin: 20px;
}